---

- name: Check if Cantaloupe directory exists
  stat:
    path: /opt/cantaloupe
  register: cantaloupe_dir

- name: Creates Cantaloupe directory
  file:
    path: /opt/cantaloupe
    state: directory
    owner: tomcat
    group: tomcat
    mode: "2775"
  when: not cantaloupe_dir.stat.exists

- name: Check if Fits directory exists
  stat:
    path: /opt/fits
  register: fits_dir

- name: Creates Fits directory
  file:
    path: /opt/fits
    state: directory
    owner: tomcat
    group: tomcat
    mode: "2775"
  when: not fits_dir.stat.exists

- name: Check if Cantaloupe cache directory exists
  stat:
    path: /var/cache/cantaloupe
  register: cantaloupe_cache_dir

- name: Creates Cantaloupe cache directory
  file:
    path: /var/cache/cantaloupe
    state: directory
    owner: tomcat
    group: tomcat
    mode: "2775"
  when: not cantaloupe_cache_dir.stat.exists

- name: Check if Cantaloupe log directory exists
  stat:
    path: /var/log/cantaloupe
  register: cantaloupe_log_dir

- name: Creates Cantaloupe log directory
  file:
    path: /var/log/cantaloupe
    state: directory
    owner: tomcat
    group: tomcat
    mode: "2775"
  when: not cantaloupe_log_dir.stat.exists

- name: Template systemd Tomcat10 service
  template:
    src: tomcat10.service.j2
    dest: /etc/systemd/system/tomcat10.service
  when: env == "dev"

- name: Template systemd Tomcat9 service (beta)
  template:
    src: tomcat10.beta.service.j2
    dest: /etc/systemd/system/tomcat10.service
  when: "'beta' in inventory_hostname"

- name: Template systemd Tomcat9 service (gamma)
  template:
    src: tomcat10.gamma.service.j2
    dest: /etc/systemd/system/tomcat10.service
  when: "'gamma' in inventory_hostname"

- name: Reload systemd services
  command: "systemctl daemon-reload"
