---

- name: Gather service facts
  service_facts:

- name: Install tomcat10
  apt:
    name: "{{ item }}"
    state: present
    cache_valid_time: 3600
  with_items: "{{ tomcat_packages }}"

- name: Install tomcat10 admin
  apt:
    name: "{{ item }}"
    state: present
    cache_valid_time: 3600
  with_items: "{{ tomcat_admin_packages }}"
  when: tomcat_admin_install

- name: Start tomcat10
  service:
    name: tomcat10
    state: started
  when: >
    'tomcat10.service' in ansible_facts.services and
    not ansible_facts.services['tomcat10.service'].state == 'running'
