---

- name: Ensure scyllaridae service user exists
  user:
    name: scyllaridae
    system: true
    shell: /usr/sbin/nologin
    create_home: false

- name: Ensure scyllaridae directory exists and has correct ownership
  file:
    path: "{{ scyllaridae _install_dir }}"
    state: directory
    owner: "{{ scyllaridae _user }}"
    group: "{{ scyllaridae _user }}"
    mode: "0755"
    recurse: true
  become: true

- name: Download scyllaridae release tarball
  get_url:
    url: https://github.com/lehigh-university-libraries/scyllaridae/releases/download/5.0.2/scyllaridae_Linux_x86_64.tar.gz
    dest: /tmp/scyllaridae.tar.gz
    mode: '0644'
    checksum: sha256:67e7e4907a1ff79b170b558468d1a2dd95a07b80fa33ce6f832775468e07b1de

- name: Extract scyllaridae into /opt/scyllaridae
  unarchive:
    src: /tmp/scyllaridae.tar.gz
    dest: /opt/scyllaridae
    remote_src: true
    owner: scyllaridae
    group: scyllaridae
    mode: '0755'
