---

- name: Ensure scyllaridae service user exists
  user:
    name: scyllaridae
    system: true
    shell: /usr/sbin/nologin
    create_home: false

- name: Ensure scyllaridae directory exists and has correct ownership
  file:
    path: "{{ scyllaridae_install_dir }}"
    state: directory
    owner: "{{ scyllaridae_user }}"
    group: "{{ scyllaridae_user }}"
    mode: "0755"
    recurse: true
  become: true

- name: Download scyllaridae release tarball
  get_url:
    url: https://github.com/lehigh-university-libraries/scyllaridae/releases/download/{{ scyllaridae_version_tag }}/scyllaridae_Linux_x86_64.tar.gz
    dest: /tmp/scyllaridae.tar.gz
    mode: '0644'
    checksum: "{{ scyllaridae_checksum }}"

- name: Extract scyllaridae into /opt/scyllaridae
  unarchive:
    src: /tmp/scyllaridae.tar.gz
    dest: /opt/scyllaridae
    remote_src: true
    owner: scyllaridae
    group: scyllaridae
    mode: '0755'
