# Maximum allowable size of uploaded file
max.upload.file.size.MB={{ fits_max_upload_file_size_MB }}
# Maximum size of HTTP Request object. Must be equal to or larger than the value for max.upload.file.size.MB
max.request.size.MB={{ fits_max_request_size_MB }}
# Maximum size of an uploaded size kept in memory. Otherwise temporarily persisted to disk.
max.in.memory.file.size.MB={{ fit_max_in_memory_file_size_MB }}
