---

- name: Set fits.home in catalina.properties
  lineinfile:
    path: "{{ tomcat_home }}/conf/catalina.properties"
    regexp: "^fits.home="
    line: "fits.home={{ fits_install_symlink }}"
  notify: restart tomcat10

- name: Set shared.loader in catalina.properties
  lineinfile:
    path: "{{ tomcat_home }}/conf/catalina.properties"
    regexp: "^shared.loader="
    line: 'shared.loader=${fits.home}/lib/*.jar'
  notify: restart tomcat10

- name: Check if FITS has finished coming back up
  stat:
    path: "{{ tomcat_home }}/webapps/fits/WEB-INF/classes"
  register: fits_classes

- name: Wait for FITS to finish coming back up
  wait_for:
    path: "{{ tomcat_home }}/webapps/fits/WEB-INF/classes"
    state: present
  when: not fits_classes.stat.exists

- name: Configure FITS web service logging
  template:
    src: log4j.properties.j2
    dest: "{{ tomcat_home }}/webapps/fits/WEB-INF/classes/log4j.properties"

- name: Configure FITS web service max upload size
  template:
    src: fits-service.properties.j2
    dest: "{{ tomcat_home }}/webapps/fits/WEB-INF/classes/fits-service.properties"
  notify: restart tomcat10
