---

- name: "Install FITS web service {{ansible_os_family}}"
  get_url:
    url: https://alpha.library.yorku.ca/fits-{{ fits_ws_version }}.war
    dest: "{{ tomcat_home }}/webapps/fits.war"
    owner: "{{ fits_user }}"
    group: "{{ fits_group }}"
    checksum: "{{  fits_ws_md5sum  }}"
    force: no
  retries: 5
  register: result
  until: result is succeeded
  changed_when: result.changed
