---
# Include OS specific variables
- name: include OS specific variables
  include_vars: "vars/{{ ansible_os_family }}.yml"

- include_tasks: install.yml
  tags:
    - fits
    - fits-install

- include_tasks: install-ws.yml
  tags:
    - fits
    - fits-ws
    - fits-ws-install
  when: fits_ws

- include_tasks: config-ws.yml
  tags:
    - fits
    - fits-ws
    - fits-ws-config
  when: fits_ws
