crayfish_version_tag: 1.0.0

crayfish_services:
  - Milliner
  - Recast

crayfish_install_dir: /var/www/html/Crayfish

crayfish_syn_token: islandora

crayfish_log_directory: /var/log/islandora

crayfish_webserver_app_user: www-data

crayfish_drupal_base_url: http://localhost:8000
crayfish_fedora_base_url: http://localhost:8080/fcrepo/rest

# Milliner default config
crayfish_milliner_log_file: /var/log/islandora/milliner.log
crayfish_milliner_log_level: INFO

crayfish_milliner_jwt_enabled: TRUE
crayfish_milliner_jwt_config: "{{ crayfish_install_dir }}/syn-settings.xml"

crayfish_milliner_debug: TRUE

crayfish_milliner_fedora_base_url: "{{ crayfish_fedora_base_url }}"
crayfish_milliner_drupal_base_url: "{{ crayfish_drupal_base_url }}"
crayfish_milliner_modified_date_predicate: http://schema.org/dateModified
crayfish_milliner_strip_format_jsonld: true
crayfish_milliner_is_fedora_6: true

# OS Dependent variables set in vars can be overridden here
# crayfish_user: www-data
# httpd_conf_directory: /etc/apache2
# crayfish_packages:
#   - ImageMagick

php_packages_extra:
  - php8.0-mysql

# recast
crayfish_recast_log_file: /var/log/islandora/recast.log
crayfish_recast_log_level: INFO

crayfish_recast_jwt_enabled: TRUE
crayfish_recast_jwt_config: "{{ crayfish_install_dir }}/syn-settings.xml"

crayfish_recast_fedora_base_url: "{{ crayfish_fedora_base_url }}"
crayfish_recast_drupal_base_url: "{{ crayfish_drupal_base_url }}"

crayfish_recast_prefixes:
  acl: "http://www.w3.org/ns/auth/acl#"
  fedora: "http://fedora.info/definitions/v4/repository#"
  ldp: "http://www.w3.org/ns/ldp#"
  memento: "http://mementoweb.org/ns#"
  pcdm: "http://pcdm.org/models#"
  pcdmuse: "http://pcdm.org/use#"
  webac: "http://fedora.info/definitions/v4/webac#"
  vcard: "http://www.w3.org/2006/vcard/ns#"
