<IfModule proxy_fcgi_module>
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>

  <FilesMatch "\.ph(?:ar|p|tml)$">
    SetHandler "proxy:fcgi://{{ php_fpm_listen }}"
  </FilesMatch>

  <FilesMatch "\.phps$">
    Require all denied
  </FilesMatch>

  <FilesMatch "^\.ph(?:ar|p|ps|tml)$">
    Require all denied
  </FilesMatch>
</IfModule>
